[submodule ".bash/z"]
	path = .bash/z
	url = https://github.com/rupa/z.git
[submodule "_nya.d/z"]
	path = _nya.d/z
	url = https://gist.github.com/4554687.git
[submodule "_nya.d/galias"]
	path = _nya.d/galias
	url = https://gist.github.com/4620297.git
[submodule "_nya.d/abbreviations"]
	path = _nya.d/abbreviations
	url = https://gist.github.com/4631987.git
[submodule "_nya.d/complete_by"]
	path = _nya.d/complete_by
	url = https://gist.github.com/4647152.git
[submodule "_nya.d/unix_env_expand"]
	path = _nya.d/unix_env_expand
	url = https://gist.github.com/4663369.git
[submodule "_nya.d/shebang"]
	path = _nya.d/shebang
	url = https://gist.github.com/5047106.git
