*.lc

/.skk/
/.source-highlight/
/bin/
/bin64/
/go/
/howm/

/.gitconfig
/.hgrc

/.vim/dict/GENE.TXT
/.vim/tools/the_silver_searcher/pcre.h

/.xyzzy.d/projects.lisp
/.xyzzy.d/.scratch

/.zsh/.zcompdump
